<style>
<!--

-->
</style>
<!-- Modal -->
<div class="modal fade" id="choose-confirm" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">确认抽签</h4>
			</div>
			<div id="choose-modal-body" class="modal-body"></div>
			<div class="modal-footer">
				<a class="btn btn-primary btn-ok">【本人确认信息准确】 并【 开始抽签】</a>
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>